[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.511"
neovim = "*"

[packages]
datadog = "*"
freezegun = "*"
mock = "*"
gunicorn = "==19.5.0"
flask = "==0.12.1"
schematics = "*"
requests = "*"
raven = {extras = ["flask"]}
pycountry="*"
python-json-logger = "*"
swagger-client = {git = "ssh://git@github.com/PassFort/python-worldcheck-client.git", ref="997ffa71befba2e176be87f13dac33189be57090", editable=true}
coverage = "*"
codecov = "*"
markupsafe = "==1.1.1"
Werkzeug = "==0.16.1"
