# coding: utf-8

"""
    Thomson Reuters World-Check One API

    The World-Check One API enables developers to integrate the next generation of Thomson Reuters screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence. The API provides, among other features: - The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called “cases” within the World-Check One system. - The ability to retrieve results of the screening process from the World-Check database - The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process. > © 2017 Thomson Reuters. All rights reserved. Republication or redistribution of Thomson Reuters content, including by framing or similar means, is prohibited without the prior written consent of Thomson Reuters. 'Thomson Reuters' and the Thomson Reuters logo are registered trademarks and trademarks of Thomson Reuters and its affiliated companies.   # noqa: E501

    OpenAPI spec version: 1.2.0
    Contact: Thomson-FCR.PS@Thomsonreuters.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AuditApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def cases_case_system_id_audit_events_post(self, case_system_id, **kwargs):  # noqa: E501
        """Get a filtered list of AuditEvents for a Case by its caseSystemId  # noqa: E501

        Return all audit events related to cases visible to the current user. Caller may filter and sort the response by:  **eventDate**: The time when the Audit Event was created (ISO 8601 format excluding Week and Ordinal dates)         e.g. eventDate>=2010-07-28T22:25:51Z;eventDate<2015-07-28T22:25:51Z   **actionType**: Signifies the event links to a Case object.           Please refer to ``ActionType`` object for detailed description.         e.g. actionType=='ASSIGN_CASE'             actionType=in=('ASSIGN_CASE', 'NEW_MATCH')   **actionedByUserId**: Identifier of the User who created this audit event.            Please refer to ``AuditEvent/properties/actionedByUserId`` for detailed description.         e.g. actionedByUserId==663b4481-5b45-40a4-8b76-54ef805beea5   **The above criteria can also be combined**         e.g. eventDate>=20120915T155300;eventDate<=2015-07-28T22:25:51Z;actionType=='NEW_MATCH'             actionedByUserId==663b4481-5b45-40a4-8b76-54ef805beea5;eventDate>=2010-07-28T22:25:51Z  **Please note that the above examples are only for the ``query`` part of the Filter**   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.cases_case_system_id_audit_events_post(case_system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str case_system_id: System generated ID for the Case (required)
        :param Filter filter: Filter the AuditEvents in the response
        :return: AuditSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.cases_case_system_id_audit_events_post_with_http_info(case_system_id, **kwargs)  # noqa: E501
        else:
            (data) = self.cases_case_system_id_audit_events_post_with_http_info(case_system_id, **kwargs)  # noqa: E501
            return data

    def cases_case_system_id_audit_events_post_with_http_info(self, case_system_id, **kwargs):  # noqa: E501
        """Get a filtered list of AuditEvents for a Case by its caseSystemId  # noqa: E501

        Return all audit events related to cases visible to the current user. Caller may filter and sort the response by:  **eventDate**: The time when the Audit Event was created (ISO 8601 format excluding Week and Ordinal dates)         e.g. eventDate>=2010-07-28T22:25:51Z;eventDate<2015-07-28T22:25:51Z   **actionType**: Signifies the event links to a Case object.           Please refer to ``ActionType`` object for detailed description.         e.g. actionType=='ASSIGN_CASE'             actionType=in=('ASSIGN_CASE', 'NEW_MATCH')   **actionedByUserId**: Identifier of the User who created this audit event.            Please refer to ``AuditEvent/properties/actionedByUserId`` for detailed description.         e.g. actionedByUserId==663b4481-5b45-40a4-8b76-54ef805beea5   **The above criteria can also be combined**         e.g. eventDate>=20120915T155300;eventDate<=2015-07-28T22:25:51Z;actionType=='NEW_MATCH'             actionedByUserId==663b4481-5b45-40a4-8b76-54ef805beea5;eventDate>=2010-07-28T22:25:51Z  **Please note that the above examples are only for the ``query`` part of the Filter**   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.cases_case_system_id_audit_events_post_with_http_info(case_system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str case_system_id: System generated ID for the Case (required)
        :param Filter filter: Filter the AuditEvents in the response
        :return: AuditSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_system_id', 'filter']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cases_case_system_id_audit_events_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'case_system_id' is set
        if ('case_system_id' not in params or
                params['case_system_id'] is None):
            raise ValueError("Missing the required parameter `case_system_id` when calling `cases_case_system_id_audit_events_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'case_system_id' in params:
            path_params['caseSystemId'] = params['case_system_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'filter' in params:
            body_params = params['filter']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/cases/{caseSystemId}/auditEvents', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuditSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
