[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
passfort-deployment = { git = "git@github.com:PassFort/deployment.git", editable = true, ref = "3de7b3f8d634795912b1a2e94fa55fee64f9f378" }
requests = "*"
slacker-cli = "*"
coverage = "*"

[requires]
python_version = "3.6"
