[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passfort-deployment = {git = "git@github.com:PassFort/deployment.git@3f5bd8f9833588eb708281f9988eb4466a420d6b", editable = true}
requests = "*"
slacker-cli = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.6"
