[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.511"
neovim = "*"

[packages]
datadog = "==0.35.0"
gunicorn = "==20.0.4"
flask = "==1.1.1"
requests = "==2.23.0"
coverage = "==5.0.3"
codecov = "==2.0.16"
responses = "==0.10.12"
schematics = "==2.1.0"
pycountry = "==19.8.18"

[packages.raven]
extras = [ "flask",]
