[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.511"
neovim = "*"

[packages]
gunicorn = "==19.5.0"
flask = "==0.12.1"
requests = "*"
passfort-data-structure = {editable = true, git = "ssh://git@github.com/PassFort/python-data-structure.git", ref = "ed4bc3ee9abacba852ed627ef4e83ad96b645253"}
schemad-types = {editable = true, git = "ssh://git@github.com/PassFort/python-schemad-types.git", ref = "a1e93f811b764da64a61c8515e729d2527fe9660"}
dassert = {editable = true, git = "ssh://git@github.com/PassFort/python-dassert.git", ref = "48233ad93ba806671376526bb25586100bcc0c5a"}
raven = {extras = ["flask"]}
responses = "*"
nameparser = "*"
coverage = "*"
codecov = "*"
blinker = "*"
sqlalchemy = "*"
zeep = "*"
