[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.511"

[packages]
coverage = "*"
codecov = "*"
flask = "==0.12.5"
gunicorn = "==19.5.0"
mock = "*"
python-json-logger = "*"
python-dateutil = "*"
pycountry = "*"
requests = "*"
raven = {extras = ["flask"]}
schematics = "==2.1.0"
