[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.511"
neovim = "*"

[packages]
gunicorn = "==19.5.0"
flask = "==0.12.1"
raven = {extras = ["flask"]}
mock = "*"
coverage = "*"
codecov = "*"
schematics = "*"
responses = "==0.9.0"
